<title>me2toy: CrazySearch</title>
<META name="description" content="">
<META name="keywords" content="">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
<!--
	function  setDefaultSearch ()
	{
		var isIE7 = window.navigator.userAgent.indexOf("MSIE 7");
		var isIE8 = window.navigator.userAgent.indexOf("MSIE 8");
		var isFF = window.navigator.userAgent.indexOf("Firefox");
		if (isIE7 != -1 || isIE8 != -1)
		{
			if (window.external.IsSearchProviderInstalled('http://se.me2toy.net') == 0)	{
				window.external.AddSearchProvider("http://se.me2toy.net/static/crazysearch2.xml");
				}
		}
		else{
			window.external.AddSearchProvider("http://se.me2toy.net/static/crazysearch.xml")
		}
	}
//-->
</script>
<link rel="search" type="application/opensearchdescription+xml" title="CrazySearch(Internet Explorer)" href="http://se.me2toy.net/static/crazysearch2.xml">
<link rel="search" type="application/opensearchdescription+xml" title="CrazySearch(Firefox and others)" href="http://se.me2toy.net/static/crazysearch.xml">
</head>

<body>
<h3>
미친을 검색해주는 CrazySearch입니다. 해치지 않아요.
클릭 2~3번으로 설치할 수 있어요.
</h3>
<a href="#" onClick="setDefaultSearch();return false;"><h1>설치</h1></a>
<br />

<h3>사용의 예</h3>
<p>
그냥 입력하면 미친을 검색합니다.
</p><p>
본문{태그}로 입력하면 미투데이에 글을 쓸 수 있습니다.
</p><p>
이도 저도 아니면 구글에서 검색합니다.
</p>
<p>
끝에 !를 붙이면 사전에서 검색합니다.
</p>
<h2>Internet Explorer 8</h2>
<img src="static/ie.png"/>

<br />

<h2>Firefox와 그 외</h2>
<img src="static/ff.png"/>
<p>
제작자: 안 생기는  
<a href="http://me2day.net/hoyajigi">호야지기</a>
</p>
</body>
</html>

